

body {
	background-image: url(https://c.pxhere.com/photos/76/aa/field_football_game_grass_ground_soccer_sport-955613.jpg!d);
}

.nav-tabs {
	 border: 0px solid #d45500;
}

a.nav-link {
	color:lightgrey !important;
	font-size: 1.8rem !important;
	border-bottom: 1px solid white !important;
	text-shadow: 2px 2px 5px black !important;
}

a.active.nav-link {
	border: 1px solid white !important;
	border-bottom: 0px !important;
	border-radius: 5px 5px 0px 0px !important;
	background: inherit !important;
	background-color: rgba(255, 255, 255, 1.) !important;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 1;
	overflow: hidden;
	font-size: 1.8rem !important;
	color:white !important;
	text-shadow: 2px 2px 5px black !important;
}

a.active.nav-link:before {
	content: "";
	position: absolute;
	background: inherit;
	background-color: rgba(255, 255, 255, 0.3) !important;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.frost {
	border: 1px solid white;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	background: inherit;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.frost:before {
	content: "";
	position: absolute;
	background: inherit;
	background-color: rgba(255, 255, 255, 0.3) !important;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: -30px;
}
