{% load crispy_forms_field %}

{% load static %}

<div class="avatar-preview">
{% for widget in field.subwidgets %}
{% if widget.data.is_initial %}
<div id="imagePreview" style="background-image: url({% static field.value.url %});">
{% else %}
	<div id="imagePreview" style="background-image: url(/static/data/default/profile_picture.jpeg);">
{% endif %}
		<div class="avatar-edit">
			<input class="editbtn" type="{{ widget.data.type }}" name="{{ widget.data.name }}" id="imageUpload" accept=".png, .jpg, .jpeg" />
			<label for="imageUpload" class="mdi mdi-lead-pencil"></label>
		</div>
	</div>
{% endfor %}
</div>

{% comment %}<img class="rounded-circle" src="/data/default/profile_picture.jpg" alt="Image">{% endcomment %}
{% comment %}<img class="rounded-circle" src="{% static "img/user/u2.jpg" %}" alt="Image">{% endcomment %}

