
{% extends 'dashboard/base.html' %}

{% load static %}

{% block styles %}
{% comment %}<link rel="stylesheet" href="{% static 'css/profile.css' %}" />{% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.9/datepicker.min.css" integrity="sha512-Yog+zkte66L91S9y4tcyhCpjvzKjlBxNLW38pm9K2ukBtPN55LKl3dyGvb7ylCFmn/kFKNzN9KbnGPOnHGHxbw==" crossorigin="anonymous" />
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.9/datepicker.min.js" integrity="sha512-Hkemjwczq2iepz/dVjaZ/Xd+agLwV7Od5nQ+R74m4E8ruIblnDAJOewx2+xT4TQ+Q9Q2bcMHFD/d70RzVjrWVw==" crossorigin="anonymous"></script>
{% endblock %}

{% load crispy_forms_tags %}

{% block bodyContent %}

<div class="content">
	<div class="bg-white border rounded p-lg-5 p-3">
		{% crispy form %}
		{% comment %}{{ form }}{% endcomment %}
	</div>
</div>

{% endblock %}
