{% load static %}
<aside class="left-sidebar bg-sidebar">
	<div id="sidebar" class="sidebar sidebar-with-footer">
		<!-- Aplication Brand -->
		<div class="app-brand">
			<a href="#" title="VFF">
				<svg
					class="brand-icon"
					xmlns="http://www.w3.org/2000/svg"
					preserveAspectRatio="xMidYMid"
					width="30"
					height="33"
					viewBox="0 0 30 33"
					>
					<g fill="none" fill-rule="evenodd">
					<path
						class="logo-fill-blue"
						fill="#7DBCFF"
						d="M0 4v25l8 4V0zM22 4v25l8 4V0z"
						/>
					<path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
					</g>
				</svg>
				<span class="brand-name text-truncate">VFF</span>
			</a>
		</div>
		<!-- begin sidebar scrollbar -->
		<div class="sidebar-scrollbar">
			<!-- sidebar menu -->
			<ul class="nav sidebar-inner" id="sidebar-menu">
				<li  class="" >
					<a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard" 
						aria-expanded="false" aria-controls="dashboard">
						<i class="mdi mdi-view-dashboard-outline"></i>
						<span class="nav-text">Dashboard</span> <b class="caret"></b>
					</a>
					<ul  class="collapse"  id="dashboard" data-parent="#sidebar-menu">
						<div class="sub-menu">
							<li >
								<a class="sidenav-item-link" href="index.html">
									<span class="nav-text">Ecommerce</span>
								</a>
							</li>
							<li >
								<a class="sidenav-item-link" href="analytics.html">
									<span class="nav-text">Analytics</span>
									<span class="badge badge-success">new</span>
								</a>
							</li>
						</div>
					</ul>
				</li>
			</ul>
		</div>
		<div class="sidebar-footer">
			<hr class="separator mb-0" />
			{% comment %}<div class="sidebar-footer-content">{% endcomment %}
				{% comment %}<h6 class="text-uppercase">{% endcomment %}
					{% comment %}Cpu Uses <span class="float-right">40%</span>{% endcomment %}
				{% comment %}</h6>{% endcomment %}
				{% comment %}<div class="progress progress-xs">{% endcomment %}
					{% comment %}<div{% endcomment %}
						{% comment %}class="progress-bar active"{% endcomment %}
						{% comment %}style="width: 40%;"{% endcomment %}
						{% comment %}role="progressbar"{% endcomment %}
						{% comment %}></div>{% endcomment %}
				{% comment %}</div>{% endcomment %}
				{% comment %}<h6 class="text-uppercase">{% endcomment %}
					{% comment %}Memory Uses <span class="float-right">65%</span>{% endcomment %}
				{% comment %}</h6>{% endcomment %}
				{% comment %}<div class="progress progress-xs">{% endcomment %}
					{% comment %}<div{% endcomment %}
						{% comment %}class="progress-bar progress-bar-warning"{% endcomment %}
						{% comment %}style="width: 65%;"{% endcomment %}
						{% comment %}role="progressbar"{% endcomment %}
						{% comment %}></div>{% endcomment %}
				{% comment %}</div>{% endcomment %}
			{% comment %}</div>{% endcomment %}
		</div>
	</div>
</aside>
